@CHARSET "UTF-8";

body{
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Open Sans Condensed', sans-serif;
  color: #707070;
  font-weight: 100;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom:15px;
  padding: 10px;
}
h1, h2, h3{
  color: #606060;
  margin: 10px;
}

p{
  padding: 0px;
  margin: 10px;
}

audio, img{
  padding: 0px;
  margin: 10px;
}

.menuSelection{
    /*max-width: 300px;*/
  float: left;
  width: 300px;
  height: 200px;
  background-color: darkgray;
  /*padding: 10px;*/
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.navigation {
  margin-bottom: 20px;
  /*position: fixed;*/
  /*max-width: 100%;*/
}

.navigationBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #707070;
}

.menuItem {
  float: left;
}

.menuItem a, .dropBtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menuItem a:hover, .dropDown:hover .dropBtn {
  background-color: #606060;;
}

li.dropDown {
  display: inline-block;
}

.menuHeaderText{
  color: white;
  font-size: 40px;
}

.dropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropDownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropDownContent a:hover {
  background-color: #f1f1f1;
}

.dropDown:hover .dropDownContent {
  display: block;
}

.additionalMenuText{
  color: white;
}

.textBlock{
  position: absolute;
  width: 300px;
  height: 200px;
  top: 0px;
  left: 0px;
  vertical-align: middle;
  text-align: center;
  padding: padding 10px;
}

.mainHeader{
  /*position: fixed;*/
}
